<!-- <h2><%= t(".title", resource: resource_class.model_name.human) %></h2> -->
<h2>Editar mis datos</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <small>
        <%= t(".currently_waiting_confirmation_for_email", email: resource.unconfirmed_email) %>
      </small>
    <% end %>

    <%= f.input :password, autocomplete: "off", required: false %>
    <small>(Dejar en blanco si no desea cambiarla)</small>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, required: true %>
    <small>(Necesitamos su contraseña actual para confirmar los cambios)</small>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t(".update") %>
  </div>
<% end %>
