<%= simple_form_for([:admin, :bank, account],
                    defaults: { wrapper_html: { class: 'field' } }, 
                    html: { class: 'form' }) do |f| %>

  <%= f.error :base %>

  <div class="form-group">                  
    <%= f.input :number, autofocus: true, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">                  
    <%= f.input :card, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">                  
    <%= f.input :clabe, input_html: { class: 'form-control' } %>
  </div>
  <hr>
  
  <div class="form-group">
    <%= f.input :holder, as: :select, collection: holders %>    
  </div>  
  
  <div class="form-check">
    <label class="form-check-label">
      <%= f.check_box :active, class: 'form-check-input' %>
      <%= f.label :active %>
    </label>
  </div>

  <div class="form-group">                  
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>
  </div>  

<% end %>
