<%= simple_form_for([:admin, :bank, account],
                    defaults: { wrapper_html: { class: 'field' } }, 
                    html: { class: 'form' }) do |f| %>
                    
  <div class="form-group">                  
    <%= f.input :number, autofocus: true, input_html: { class: 'form-control' } %>
  </div>  
  <div class="form-group">                  
    <%= f.input :holder, input_html: { class: 'form-control' } %>
  </div>  
  <div class="form-group">                  
    <%= f.input :active %>
  </div>  
  <div class="form-group">                  
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>
  </div>  

<% end %>
