<% title 'Cuentas' %>

<p class="page"><i class="fa fa-bank"></i> Bancos</p>

<nav class="breadcrumb">
  <a href="<%= admin_banks_path %>" class="breadcrumb-item">
    <i class="fa fa-angle-left"></i> bancos
  </a>
  <span class="breadcrumb-item active"><b><%= @bank.name %></b></span>
  <span class="breadcrumb-item active">cuentas</span>
</nav>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Banco</th>
      <th>Número</th>
      <th>Holder</th>
      <th>Activo</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.bank.name %></td>
        <td><%= account.number %></td>
        <td><%= account.holder %></td>
        <td>
          <%= 
            render 'admin/shared/status_toggle', 
              object: account, 
              path: toggle_admin_bank_accounts_path(bank_id: @bank.id, id: account.id) %>
        </td>
        <td><%= link_to 'Editar', edit_admin_bank_account_path(@bank, account) %></td>
        <td><%= link_to 'Borrar', 
                  admin_bank_account_path(@bank, account), 
                  method: :delete, data: { confirm: 'Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<a href="<%= new_admin_bank_account_path %>" class="nav-link">
  <i class="fa fa-plus"></i> cuenta nueva
</a>
