<p><i class="fa fa-tachometer"></i> Dashboard</p>

<div class="dashboard">
  <div class="row">
    <div class="col-sm-6">
      <p><b><i class="fa fa-folder-o text-danger"></i> Pendientes</b></p>
      <%= render 'admin/dashboard/orders', orders: @pending_orders %>
    </div>
    <div class="col-sm-6">
      <p><b><i class="fa fa-folder-o text-primary"></i> Nuevos</b></p>
      <%= render 'admin/dashboard/orders', orders: @new_orders %>
    </div>
  </div>
  <hr>
  
  <div class="row">
    <div class="col-sm-3">
      <p><i class="fa fa-btc"></i> Precio actual</p>
      <% if @btc_price %>
        <%= simple_form_for [:admin, @btc_price] do |f| %>
          <div class="form-group">
            <input type="hidden" name="dashboard" value="true">
            <%= f.input_field :value, class: 'form-control' %>
          </div>  
          <%= f.submit 'Actualizar precio', class: 'btn btn-block btn-secondary' %>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-8 offset-sm-1">
      <p><i class="fa fa-comment"></i> Mensajes nuevos</p>
      <% @messages.reverse.group_by(&:user_id).each do |id, msgs| %>
        <% msg = msgs.first %>
        <a href="<%= admin_order_path(msg.order) %>">
          <div class="media">
            <%= image_tag msg.user.gravatar_url(size: 20, default: 'mm'), class: 'd-flex mr-3' %>
            <div class="media-body">
              <% if current_user == msg.user %>
                Tú
              <% else %>
                <%= msg.user.email %>
              <% end %>
              <span class="small text-muted">Hace <%= time_ago_in_words msg.created_at %></span>
              <br>
              <%= msg.body %>
            </div>
          </div>
        </a>
        <hr>
      <% end %>
    </div>
  </div>
</div>

