<p class="page"><i class="fa fa-bitcoin"></i> Pedidos</p>

<nav class="breadcrumb">
  <a href="<%= admin_orders_path %>" class="breadcrumb-item">
    <i class="fa fa-angle-left"></i> pedidos
  </a>
  <span class="breadcrumb-item">historial</span>
</nav>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Cuando</th>
      <th>Usuario</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Método de pago</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to formatted_date(order.created_at), admin_order_path(order) %></td>
        <td><%= order.user.email %></td>
        <td><%= order.amount %></td>
        <td><%= number_to_currency order.price, precision: 0 %></td>
        <td><%= order.payment_method.name %></td>
        <td><%= render 'admin/orders/message_count', order: order %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @orders.count == 0 %>
  <div class="alert alert-info">
    No hay pedidos.
  </div>
<% end %>

<div class="pagination">
  <%= will_paginate @posts, previous_label: 'Previo', next_label: 'Siguiente' %>
</div>
