<% title 'Pedidos pendientes y nuevos' %>

<p class="page"><i class="fa fa-bitcoin"></i> Pedidos</p>

<p><b><i class="fa fa-folder-o text-danger"></i> Pendientes</b></p>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Cuando</th>
      <th>Usuario</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Método de pago</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @pending_orders.each do |order| %>
      <tr>
        <td><%= link_to formatted_date(order.created_at), admin_order_path(order) %></td>
        <td><%= order.user.email %></td>
        <td><%= order.amount %></td>
        <td><%= order.price %></td>
        <td><%= order.payment_method.name %></td>
        <td><%= render 'admin/orders/message_count', order: order %></td>
        <td>
          <center>
            <%= link_to 'Revisar', admin_order_path(order), class: 'ui mini button' %>
          </center>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @pending_orders.count == 0 %>
  <div class="alert alert-info">
    No tienes pedidos pendientes.
  </div>
<% end %>

<!-- NEW ORDERS -->
<hr>

<p><b><i class="fa fa-folder-o text-primary"></i> Nuevos</b></p>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Cuando</th>
      <th>Usuario</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Método de pago</th>
      <th>Se expira</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @new_orders.each do |order| %>
      <% if !order.expired %>
        <tr>
          <td><%= link_to formatted_date(order.created_at), admin_order_path(order) %></td>
          <td><%= order.user.email %></td>
          <td><%= order.amount %></td>
          <td><%= order.price %></td>
          <td><%= order.payment_method.name %></td>
          <td><%= formatted_date(order.expires_at) %></td>
          <td><%= render 'admin/orders/message_count', order: order %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<% if @new_orders.map.count == 0 %>
  <div class="alert alert-info">
    No tienes pedidos nuevos.
  </div>
<% end %>

<hr>

<a class="btn btn-sm btn-secondary" href="<%= history_admin_orders_path %>">
  <i class="fa fa-history"></i> Ver historial
</a>
