<% title "Pedido ##{@order.id}" %>

<p class="page"><i class="fa fa-bitcoin"></i> Pedidos</p>

<nav class="breadcrumb">
  <a href="<%= admin_orders_path %>" class="breadcrumb-item">
    <i class="fa fa-angle-left"></i> pedidos
  </a>
  <span class="breadcrumb-item"><%= "##{@order.id}" %></span>
</nav>

<div class="row">
  <div class="col-sm-6">
    <% if @order.completed %>
      <div class="alert alert-success">
    <% elsif @order.submitted %>
      <div class="alert alert-info">
    <% elsif @order.removed %>
      <div class="alert alert-danger">
    <% elsif @order.expired %>
      <div class="alert alert-warning">
    <% else %>
      <div class="alert alert-info">
    <% end %>
        Status: <b><%= @order.status %></b>
      </div>

    <dl class="row">
      <dt class="col-sm-5">Pedido realizado por</dt>
      <dd class="col-sm-7"><%= link_to @order.user.email, admin_user_path(@order.user) %></dd>
    
      <dt class="col-sm-5">Creado el</dt>
      <dd class="col-sm-7">
        <%= formatted_date(@order.created_at) %> <small class="text-muted">hace <%= time_ago_in_words @order.created_at %></small>
      </dd>
      <% if !@order.completed %>
        <dd class="col-sm-7 offset-sm-5">
          <% if @order.expired %>
            El pedido está expirado <small class="text-muted">Se expiró hace <%= time_ago_in_words @order.expires_at %></small>
            <hr>
            <%= simple_form_for([:admin, @order]) do |f| %>
              <div class="form-group">
                <%= f.hidden_field :removed, value: false %>
                <label><small class="text-muted">Modificar el tiempo de expiración</small></label>
                <%= f.datetime_field :expires_at, class: 'form-control' %>
              </div>
              <%= f.submit 'Actualizar pedido', class: 'btn btn-sm btn-secondary' %>
            <% end %>
            <hr>
          <% else %>
            Se expira <%= formatted_date(@order.expires_at) %> <small class="text-muted">falta <%= distance_of_time_in_words DateTime.current, @order.expires_at %></small>
          <% end %>
        </dd>
      <% end %>

      <dt class="col-sm-5">Cantidad solicitada</dt>
      <dd class="col-sm-7"><span class="badge badge-default"><%= @order.amount %></span> BTC a <span class="badge badge-primary"><%= number_to_currency @order.price, precision: 0 %></span></dd>

      <dt class="col-sm-5">Total</dt>
      <dd class="col-sm-7"><b class="text-success"><%= number_to_currency @order.total, precision: 2, separator: '.' %></b></dd>
    
      <dt class="col-sm-5">Método de pago</dt>
      <dd class="col-sm-7"><%= @order.payment_method.name %></dd> 
      <% if !@order.account_id.blank? %>
        <dd class="col-sm-7 offset-sm-5 <%= 'text-muted' if @account.deprecated? %>">
          <%= @account.name %><br/> 
          <%= @card ? @card.name : "Tarjeta inexistente" %>
          <% if @account.deprecated? %>
            <small class="text-muted">(La cuenta está obsoleta)</small>
          <% end %>
        </dd>

        <dt class="col-sm-5">Cuenta y tarjeta confirmada</dt>
        <dd class="col-sm-7">
          <%= simple_form_for [:admin, @order] do |f| %>
            <%= f.select :confirmed_account_id,
              accounts_collection(true),
              selected: @order.confirmed_account_id || '' %>
            
            <%= f.select :confirmed_card_id,
              cards_collection(true),
              selected: @order.confirmed_card_id || '' %>
            
            <%= f.submit 'Guardar cambios', class: 'btn btn-sm btn-secondary' %>
          <% end %>
        </dd>
      <% else %>
        <dd class="col-sm-7 offset-sm-5">
          <% @order.payment_method.accounts.each do |account| %>
            <% next if !account.bank.active? or !account.active %>

            <%= account.bank.name %> - <%= account.number %>
            <% @order.payment_method.cards.each do |card| %>
              <% if card.active and account.cards.include?(card) %>
                <p><span class="badge badge-default"><%= card.number %></span></p>
              <% end %>
            <% end %> 
          <% end %>
        </dd>
      <% end %> 
    </dl>
    
    <p><b>Domicilio del wallet:</b></p>
    <p class="bg-faded"><%= @order.address %></p>
    
    <hr>

    <p>Evidencia presentada:</p>

    <% if @order.attachments.count == 0 %>
      <p class="small text-muted">Aun no presentan evidencia.</p>
    <% end %>

    <div class="evidence">
      <% @order.attachments.each do |attachment| %>
        <% if attachment.file.extension == 'pdf' %>
          <p class="pdf-file attachment"><%= link_to 'PDF', attachment.url %></p>
        <% else %>
          <a data-toggle="lightbox" href="<%= attachment.url %>"><%= image_tag attachment.thumb, class: 'attachment img-thumbnail' %></a>
        <% end %>
      <% end %>
    </div>

    <% if @order.submitted and !@order.completed %>
      <hr>
      <div class="">
        <p>Ya transferiste los Bitcoins?</p>
        <%= link_to 'Listo', admin_order_path(complete: true), method: :put, class: 'btn btn-success' %>
      </div>
    
      <hr />

      <p class="text-muted">Quieres rechazar el pedido?</p>
      <%= link_to 'Rechazar', admin_order_path(reject: true), method: :put, class: 'btn btn-sm btn-danger' %>
    <% end %>

    <% if @order.completed %>
      <p>
        Verficación: <%= link_to 'Blockchain.info', "https://blockchain.info/address/#{@order.address}", target: '_blank' %>
      </p>
    <% end %>
    
    <% if !@order.completed %>
      <hr />
      <%= link_to 'Eliminar pedido', admin_order_path(@order),
          method: :delete, data: { confirm: 'El pedido será borrado de la base de datos' },
          class: 'btn btn-sm btn-danger' %>
    <% end %>
  </div>

  <div class="col-sm-6 messages">
    <%= render 'shared/message_feed' %>
  </div>
</div>

<script>
$(document).on('ready', function(){
  $(document).undelegate('[data-toggle="lightbox"]', 'click');
  $(document).on('click', '[data-toggle="lightbox"]', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
  });

});
</script>
