<p><i class="fa fa-bitcoin"></i> Pedidos</p>

<nav class="breadcrumb">
  <a href="<%= admin_orders_path %>" class="breadcrumb-item">
    <i class="fa fa-angle-left"></i> pedidos
  </a>
  <span class="breadcrumb-item"><%= "##{@order.id}" %></span>
</nav>

<div class="row">
  <div class="col">
    <div class="alert alert-info">Estado: <b><%= @order.status %></b></div>

    <p>Pedido hecho por <%= link_to @order.user.email, admin_user_path(@order.user) %></p>
    <p>Creado el <%= @order.created_at_formatted %> (hace <%= time_ago_in_words @order.created_at %>)</p>
    <p>Cantidad solicitada: <b><%= @order.amount %> BTC</b> a <b><%= number_to_currency @order.price %></b></p> 

    <hr>

    <p>Evidencia presentada:</p>
  
    <div class="">
      <% @order.attachments.each do |attachment| %>
        <% if attachment.file.extension == 'pdf' %>
          <p><%= link_to 'pdf file', attachment.url %></p>
        <% else %>
          <%= image_tag attachment %>
        <% end %>
      <% end %>
    </div>

    <hr>
    
    <% if !@order.completed %>
      <div class="ui segment">
        <p>Ya transferiste los Bitcoins?</p>
        <%= link_to 'Listo', admin_order_path(complete: true), method: :put, class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>  
  
  <div class="col">
    <%= render 'shared/message_feed' %>
  </div>    
</div>
