<p class="page"><i class="fa fa-bitcoin"></i> Pedidos</p>

<nav class="breadcrumb">
  <a href="<%= admin_orders_path %>" class="breadcrumb-item">
    <i class="fa fa-angle-left"></i> pedidos
  </a>
  <span class="breadcrumb-item"><%= "##{@order.id}" %></span>
</nav>

<div class="row">
  <div class="col-sm-6">
    <div class="alert alert-info">Estado: <b><%= @order.status %></b></div>

    <p>Pedido hecho por <%= link_to @order.user.email, admin_user_path(@order.user) %></p>
    <p>Creado el <%= formatted_date(@order.created_at) %> (hace <%= time_ago_in_words @order.created_at %>)</p>
    <p>Cantidad solicitada: <b><%= @order.amount %> BTC</b> a <b><%= number_to_currency @order.price %></b></p> 

    <hr>

    <p>Evidencia presentada:</p>

    <% if @order.attachments.count == 0 %>
      <p class="small text-muted">Aun no presentan evidencia.</p>
    <% end %>

    <div class="evidence">
      <% @order.attachments.each do |attachment| %>
        <% if attachment.file.extension == 'pdf' %>
          <p class="pdf-file attachment"><%= link_to 'PDF', attachment.url %></p>
        <% else %>
          <a data-toggle="lightbox" href="<%= attachment.url %>"><%= image_tag attachment.thumb, class: 'attachment img-thumbnail' %></a>
        <% end %>
      <% end %>
    </div>

    <hr>

    <% if @order.submitted and !@order.completed %>
      <p class="text-muted">Quieres rechazar el pedido?</p>
      <%= link_to 'Rechazar', admin_order_path(reject: true), method: :put, class: 'btn btn-sm btn-danger' %>

      <hr>
      
      <div class="">
        <p>Ya transferiste los Bitcoins?</p>
        <%= link_to 'Listo', admin_order_path(complete: true), method: :put, class: 'btn btn-success' %>
      </div>
    <% end %>

    <% if @order.completed %>
        <p>
          Verficación: <%= link_to 'Blockchain.info', "https://blockchain.info/address/#{@order.address}", target: '_blank' %>
        </p>
    <% end %>
  </div>  

  <div class="col-sm-6 messages">
    <%= render 'shared/message_feed' %>
  </div>    
</div>

<script>
$(document).on('turbolinks:load', function(){
  $(document).undelegate('[data-toggle="lightbox"]', 'click');
  $(document).on('click', '[data-toggle="lightbox"]', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
  });
});

$('.message-list').scrollTop($('.message-list')[0].scrollHeight);
</script>
