<div class="footer">

  <div class="container">
    <div class="grid grid--gutters grid--center grid--full large-grid--fit">
      <div class="grid-cell">
        <p><%= link_to 'Comprar', new_order_path %></p>
        <p><%= link_to 'Privacidad & Legal', legal_path %></p>
        <p><%= link_to '¿Cómo funciona?', faq_path %></p>
      </div>
      <div class="grid-cell">
        <p><%= link_to 'Chat', '#' %></p>
        <p><%= link_to 'Contacto', contact_path %></p>
      </div>
      <div class="grid-cell">
        <div class="made-in-mexico">
          <%= image_tag "madeinmexico.png" %>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="copyright">
  <p>&copy; 2017 <b>BitAztec</b> Todos los derechos reservados</p>
</div>
