<div class="footer">

  <div class="container">
    <div class="grid grid--gutters grid--center grid--full large-grid--fit">
      <div class="grid-cell">
        <p><%= link_to 'Privacidad & Legal', legal_path %></p>
        <p><%= link_to '¿Cómo funciona?', howto_path %></p>
      </div>
      <div class="grid-cell">
        <p><%= link_to 'Preguntas Frecuentes', faq_path %></p>
        <p><%= link_to 'Contacto', contact_path %></p>
      </div>
      <div class="grid-cell">
        <div class="made-in-mexico">
          <%= image_tag "madeinmexico.png" %>
        </div>
      </div>
    </div>
    <% if !Setting.phone.blank? %>
      <p class="phone">Manda un mensaje a nuestro Whatsapp: <b><%= Setting.phone %></b></p>
    <% end %>
  </div>

</div>

<div class="copyright">
  <p>&copy; 2017 <b>BitAztec</b> Todos los derechos reservados</p>
</div>
