<h5><i class="fa fa-comments"></i> Mensajes</h5>

<% if @order.messages.count == 0 %>
  <p class="text-muted small">Manda un mensaje si tienes alguna duda.</p>
<% end %>

<div class="message-list">
  <% @order.messages.each do |msg| %>
    <div class="media">
      <%= image_tag msg.user.gravatar_url(size: 20, default: 'mm'), class: 'd-flex mr-3' %>
      <div class="media-body">
        <% if current_user == msg.user %>
          Tú
        <% else %>
          <%= msg.user.email %>
        <% end %>
        <span class="small text-muted">Hace <%= time_ago_in_words msg.created_at %></span>
        <div class="content">
          <%= msg.body %>
        </div>
      </div>
    </div>
    <br>
    
  <% end %>
</div>

<hr>

<%= form_for(@order.messages.new, html: { class: 'ui reply form' }) do |f| %>
  <%= f.hidden_field :order_id %>
  <div class="form-group">
    <%= f.text_area :body, class: 'form-control', placeholder: 'Escribe algo...' %>
  </div>
  <button class="btn btn-primary btn-sm">
    <i class="fa fa-send"></i> Enviar  
  </button>
<% end %>

 <script>
  $(document).ready(function() {
    $('.message-list').scrollTop($('.message-list')[0].scrollHeight);
  });
 </script> 
