<h5><i class="fa fa-comments"></i> Mensajes</h5>

<% if @order.messages.count == 0 %>
  <p class="text-muted small">Manda un mensaje si tienes alguna duda.</p>
<% end %>

<div class="message-list">
  <% if @order.messages.count == 0 %>
    <p class="empty-messages">...</p>
  <% end %>
  <div class="msgs" data-order="<%= @order.id %>">
    <% @order.messages.each do |msg| %>
      <%= render 'shared/message', msg: msg %> 
    <% end %>
  </div>
</div>

<hr>

<%= form_for(@order.messages.new, html: { class: 'ui reply form' }) do |f| %>
  <%= f.hidden_field :order_id %>
  <div class="form-group">
    <%= f.text_area :body, class: 'form-control', placeholder: 'Escribe algo...' %>
  </div>
  <button class="btn btn-primary btn-sm">
    <i class="fa fa-send"></i> Enviar  
  </button>
<% end %>

 <script>
$(document).ready(function() {
    $('.message-list').scrollTop($('.message-list')[0].scrollHeight);
  });
 </script> 
