<% page = params[:action] %>

<div class="login">
  <div class="container">
    <div class="float-right">
      <% if !user_signed_in? %>
        <p>
          <%= link_to 'REGISTRO', new_user_registration_path %>
          /
          <%= link_to 'LOGIN', new_user_session_path, class: 'login-link' %>
        </p>
      <% else %>
        <p>
          <% if current_user.admin? %>
            <%= link_to 'ADMIN', admin_path %>
            /
          <% end %>
          <%= link_to 'LOGOUT', destroy_user_session_path, method: :delete, class: 'login-link' %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<div class="nav">
  <div class="container">
    <a class="brand" href="<%= root_path %>">
      <%= image_tag 'logo.png' %>
    </a>
    
    <ul>
      <li>
        <%= link_to 'Mi cuenta', orders_path, class: "#{'active' if page == 'index'}" %>
      </li>
      <li>
        <%= link_to 'Comprar', new_order_path, class: "#{'active' if page == 'new'}" %>
      </li>
      <li>
        <%= link_to 'Como funciona', howto_path, class: "#{'active' if page == 'howto'}" %>
      </li>
      <li>
        <%= link_to 'FAQ', faq_path, class: "#{'active' if page == 'faq'}" %>
      </li>
      <li>
        <%= link_to 'Acuerdo Legal', legal_path, class: "#{'active' if page == 'legal'}" %>
      </li>
      <li>
        <%= link_to 'Contacto', contact_path, class: "#{'active' if page == 'contact'}" %>    
      </li>
    </ul>
  </div>
</div>
