<% title 'Ficha de depósito para tu pedido' %>

<div class="receipt">
  <h2>Ficha de pago</h2>

  <div class="container">

    <p class="alert alert-info">Estado: <b><%= @order.status %></b></p>

    <div class="structure">
      <div class="paper">
        <div class="data">
          <h3>Datos e instrucciones</h3>
          <p>Pedido creado el <%= formatted_date(@order.created_at) %></p>
          <br />
          <p class="numbers"><%= @order.amount %> BTC a <%= number_to_currency @order.price, precision: 0 %></p>
          <p class="numbers total">Total: <%= number_to_currency @order.amount * @order.price, precision: 0 %></p>
          <br />
          <p>Se expira el <%= formatted_date(@order.expires_at) %></p>
          <p>Método de pago: <%= @order.payment_method.name %></p>
          <p><%= @order.payment_method.instructions %></p>
        </div>

        <hr />

        <% if @order.attachments.count != 0 %>
          <div class="evidence">
            <p class="text-muted">Evidencia presentada:</p>
            <% @order.attachments.each do |attachment| %>
              <% if attachment.file.extension == 'pdf' %>
                <p class="pdf-file attachment"><%= link_to 'PDF', attachment.url %></p>
              <% else %>
                <%= image_tag attachment, class: 'attachment img-thumbnail' %>
              <% end %>
            <% end %>

            <p class="address"><b>Domicilio del wallet:</b> <span><%= @order.address %></span></p>
          </div>
        <% end %>

        <% if !@order.submitted and !@order.expired %>
          <p>1. Sube tu recibo para comprobar el pago:</p>
          <br />

          <%= simple_form_for(@order) do |f| %>
            <%= f.file_field :attachments, multiple: true %>
            
            <div class="evidence-preview">
              <img />
            </div>
            
            <%= f.hidden_field :submitted, value: true %>

            <p>2. Domicilio de tu wallet</p>
            <div class="field">
              <%= f.text_field :address, placeholder: 'Poner domicilio que recibirá los bitcoins...', class: 'wallet' %>
            </div>
            
            <div class="field">
              <%= f.submit 'Pago liquidado', class: 'btn btn-success' %>
            </div>
          <% end %>

          <hr />
          <%= link_to 'Quieres cancelar?', '#', class: 'btn btn-sm btn-danger', html: { confirm: 'Estás seguro?' } %>
        
        <% end %>

        <%= render 'orders/step' %>      
      </div>   
 
      <div class="messages">
        <h3>Tienes alguna duda?</h3>
        <%= render 'shared/message_feed' %>
      </div>
    </div> <!-- end structure -->
  </div> <!-- end container -->
</div>
