<h2>Pedido</h2>

<div class="ui two column grid">
  <div class="column">
    <p class="ui message">Estado: <b><%= @order.status %></b></p>
    <div class="ui segments">
      <div class="ui segment">
        <h3>Ficha de depósito</h3>
      </div>
      <div class="ui secondary segment">
        <p>
          <strong>Pedido creado el:</strong>
          <%= @order.created_at_formatted %>
        </p>

        <p>
          <strong>Cantidad:</strong>
          <%= @order.amount %>
        </p>

        <p>
          <strong>Precio:</strong>
          <%= @order.price %>
        </p>

        <p>
          <strong>Se expira el:</strong>
          <%= @order.expires_at_formatted %>
        </p>

        <p>
          <strong>Método de pago:</strong>
          <%= @order.payment_method.name %>
        </p>

        <p>
          <strong>Instrucciones:</strong>
          <br><%= @order.payment_method.instructions %>
        </p>

        <% if !@order.submitted and !@order.expired %>
          <div class="ui divider"></div>
          
          <h5 class="lead">Sube to recibo para comprobar el pago:</h5>
          <p><button>Subir imágenes</button></p>

          <%= link_to 'Pago completo',
            order_path(@order, order: { submitted: true }), 
            method: :patch, 
            class: 'ui small green button' %>

          <div class="ui divider"></div>

          <%= link_to 'Quieres cancelar?', '#', html: { confirm: 'Estás seguro?' } %>
        
        <% elsif @order.completed %>

          <p class="ui green message">
          Gracias por comprar con <b>BitAztec</b>. En cualquier momento te llegarán tus bitcoins. Puedes verficar la transacción aqui: <%= link_to 'Blockchain.info', "https://blockchain.info/address/#{@order.address}", target: '_blank' %>
          </p>

        <% elsif !@order.expired %>

          <p class="ui yellow message">
            Gracias por comprar con <b>BitAztec</b>. Tu pago está en proceso de revisión.
          </p>
        <% else %>

          <p class="ui red message">
            Esta orden se expiró. Puedes hacer otra haciendo click <%= link_to 'aqui', new_order_path %>.
          </p>
        <% end %>   
      </div>
    </div>
  </div>

  <div class="column">
    <%= render 'shared/message_feed' %>
  </div>
</div>
