<% title 'Contacto' %>

<div class="contact">
  <div class="container">
    <h2>Contacto</h2>

    <div class="contact-form">
      <%= simple_form_for @contact_form do |f| %>
        <div class="field">
          <label class="icon name"></label>
          <%= f.text_field :name, placeholder: 'Nombre', autofocus: true %>
        </div>

        <div class="field">
          <label class="icon at"></label>
          <%= f.email_field :email, placeholder: 'Correo electrónico' %>
        </div>

        <div class="field">
          <label class="icon message"></label>
          <%= f.text_area :message, placeholder: 'Mensaje ó duda...' %>
        </div>

        <center><%= f.submit 'Enviar' %></center>
      <% end %>

      <center class="phone">
        <p>Manda un mensaje a nuestro Whatsapp: <span><%= Setting.phone %></span></p>
      </center>
    </div>
  </div>
</div>

<script>
  
  $(document).ready(function() {
    $('.contact-form form').on('submit', function(e) {
      if (
        $('#contact_form_name').val() == '' ||
        $('#contact_form_email').val() == '' ||
        $('#contact_form_message').val() == ''
      ) {
        alert('Debes llenar todos los campos.');
        return false;
      }
    });
  });

</script>