<% title 'Compra Bitcoins' %>

<div class="home">
  <div class="leader">
    <div class="container">
      <div class="price">
        <h1>1 BTC: <span><%= number_to_currency @btc_price, precision: 0 %></span></h1>
      </div>

      <div class="call-to-action">
        <%= link_to 'Comprar', new_order_path %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="mentions">
      <div class="grid grid--gutters">
        <div class="grid-cell block">
          <a href="https://blockchain.info/"><span></span></a>
        </div>
        <div class="grid-cell cript">
          <a href="http://www.diariobitcoin.com/"><span></span></a>
        </div>
        <div class="grid-cell coindesk">
          <a href="http://www.coindesk.com/"><span></span></a>
        </div>
        <div class="grid-cell diario">
          <a href="https://criptonoticias.com/"><span></span></a>
        </div>
      </div>
    </div>
  </div>

  <div class="info">
    <div class="container">
      <center class="description">
        <h2>BitAztec</h2>
        <p>La manera más sencilla de de adquirir Bitcoins en México.</p>
      </center>

      <div class="features">
        <div class="grid grid--gutters grid--full large-grid--fit">
          <div class="grid-cell feature">
            <%= image_tag 'fast.png' %>
            <h3>Rápido</h3>
            <p>Reciba sus Bitcoins minutos después de hacer el pago.</p>
          </div>
          <div class="grid-cell feature">
            <%= image_tag 'secure.png' %>
            <h3>Seguro</h3>
            <p>Compre mediante depósito en efectivo o transferencia bancaria.</p>
          </div>
          <div class="grid-cell feature">
            <%= image_tag 'anon.png' %>
            <h3>Anónimo</h3>
            <p>Únicamente se requiere un correo electrónico.</p>
          </div>
        </div>
      </div>

      <div class="call-to-action">
        <%= link_to '¿Cómo funciona?', faq_path %>
      </div>
    </div>
  </div>

</div>
