<%= title 'Bancos' %>

<p>
  <span class="page"><i class="fa fa-bank"></i> Bancos</span>
  <a href="<%= new_admin_bank_path %>" class="nav-link float-right no-mg">
    <i class="fa fa-plus"></i> Banco nuevo
  </a>
</p>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Estado</th>
        <th># de cuentas</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @banks.each do |bank| %>
        <tr>
          <td><%= link_to bank.name, admin_bank_accounts_path(bank) %></td>
          <td>
            <%=
              render 'admin/shared/status_toggle',
                object: bank,
                path: toggle_admin_banks_path(bank) %>
          </td>
          <td><%= bank.accounts.count %></td>
          <td>
            <div class="btn-group">
              <a href="<%= edit_admin_bank_path(bank) %>"
                 class="btn btn-sm btn-secondary">
                <i class="fa fa-edit"></i>
              </a>
              <!--<a class="btn btn-sm btn-danger"
                 href="<%= admin_bank_path(bank) %>"
                 data-confirm="Estás seguro?"
                 rel="nofollow"
                 data-method="delete">
                <i class="fa fa-trash"></i>
              </a>-->
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
