<% title 'Métodos de pago' %>

<p class="page"><i class="fa fa-credit-card"></i> Métodos de pago</p>

<nav class="breadcrumb">
  <a href="<%= admin_payment_methods_path %>" class="breadcrumb-item">
    <i class="fa fa-angle-left"></i> Métodos
  </a>
  <span class="breadcrumb-item active"><b><%= @payment_method.name %></b></span>
  <%= link_to 'editar', edit_admin_payment_method_path(@payment_method), class: 'breadcrumb-item' %>
</nav>

<div class="row">
  <div class="col-sm-2">
    <p><b>Estado</b></p>
    <p>
      <%=
        render 'admin/shared/status_toggle',
        object: @payment_method,
        path: toggle_admin_payment_methods_path(@payment_method)
      %>
    </p>
  </div>
  <div class="col-sm-5">
    <p><b>Instrucciones:</b></p>
    <p><%= @payment_method.instructions %></p>
  </div>
</div>

<hr>
<h5>Bancos, cuentas y tarjetas asociadas</h5>
<hr>


<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <td>Cuenta asociada</td>
        <td>Tarjetas asociadas y activas</td>
      </tr>
    </thead>
    <tbody>
      <% @payment_method.accounts.each do |account| %>
        <tr class="<%= 'inactive' if !account.active or !account.bank.active %>">
          <td><%= account.name %></td>
          <td>
            <% account.cards.each do |card| %>
              <% if @payment_method.cards.include? card %>
                <span class="<%= 'inactive' if !card.active %>"><%= card.number %></span> <br />
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div> 
