<p class="page"><i class="fa fa-credit-card"></i> Métodos de pago</p>

<nav class="breadcrumb">
  <a href="<%= admin_payment_methods_path %>" class="breadcrumb-item">
    <i class="fa fa-angle-left"></i> Métodos
  </a>
  <span class="breadcrumb-item active"><b><%= @payment_method.name %></b></span>
  <%= link_to 'editar', edit_admin_payment_method_path(@payment_method), class: 'breadcrumb-item' %>
</nav>

<div class="row">
  <div class="col-sm-2">
    <p><b>Estado</b></p>
    <p>
      <%= 
        render 'admin/shared/status_toggle', 
        object: @payment_method, 
        path: toggle_admin_payment_methods_path(@payment_method)
      %>
    </p>
  </div>
  <div class="col-sm-5">
    <p><b>Instrucciones:</b></p>
    <p><%= @payment_method.instructions %></p> 
  </div>
  <div class="col-sm-5">
    <p><b>Detalles:</b></p>
    <p><%= @payment_method.details %></p> 
  </div>
</div>

<hr>
<h5>Bancos y cuentas asociadas</h5>
<hr>

<% @payment_method.banks.each do |bank| %>
  <div class="row">
    <div class="col-4">
      <p>
        <b><%= bank.name %></b>
        <%= render 'admin/shared/status_toggle', object: bank, path: toggle_admin_banks_path(bank) %>
      </p>
    </div>
    <div class="col">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>Número</th>
            <th>Holder</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <% bank.accounts.each do |account| %>
          <tr>
            <td><%= account.number %></td>
            <td><%= account.holder %></td>
            <td>
              <%= render 'admin/shared/status_toggle',
                object: account, 
                path: toggle_admin_bank_accounts_path(account) %>
            </td>
            <td><%= link_to 'edit', edit_admin_bank_account_path(account) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% end %> 
