<tr>
  <td colspan="3"><center>Actualización automatica</center></td>
</tr>
<tr>
  <td>
    Actualización del precio automático?<br/>
    <small class="text-muted">Se actualiza el precio segun el <a href="https://www.coindesk.com/api/">Price Index de CoinDesk</a>, cada 10 minutos.</small>
  </td>
  <td>
    <%= form_for([:admin, @auto]) do |f| %>
      <div class="checkbox">
        <label>
          <%= f.check_box :value %> Activo
        </label>
      </div>
    <% end %>
  </td>
</tr>
<!--<tr>
  <td>
    Prima del precio del mercado (0.05 es 5%)<br/>
    <small class="text-muted">
      Dado el precio actual en mercado, se le suma una prima.
      Por ejemplo si el precio es de $100 dólares, y la prima es de 10%,
      el precio al que se vende en el sitio es de $110.
    </small>
  </td>
  <td>
    <%= form_for([:admin, @premium]) do |f| %>
      <%= f.text_field :value, placeholder: '0.10', class: 'form-control' %>
    <% end %>
  </td>
</tr>-->
<tr>
  <td>
    Intervalo de actualización automatica<br/>
    <small class="text-muted">
      El retraso de la actualización de precios en minutos. Por default está en dos minutos.
    </small> 
  </td>
  <td>
    <%= form_for([:admin, @interval]) do |f| %>
      <%= f.text_field :value, placeholder: '2', class: 'form-control' %>
    <% end %>
  </td>
</tr>