<% title 'Configuración' %>

<p>
  <span class="page"><i class="fa fa-gears"></i> Configuración</span>
</p>

<div class="alert alert-secondary">
  <p>Todos los campos siguientes deben estar llenados, son fundamental para el funcionamiento correcto del sitio.</p>
</div>

<table class="table settings">
  <tbody>
    <tr>
      <td colspan="3"><center>Configuración fundamental</center></td>
    </tr>
    <tr>
      <td>
        Estado del sitio<br/>
        <small class="text-muted">
          Si el sitio está inactivo, el usuario solo no podrá hacer pedidos nuevos,
          pero todas las demás funciones, incluyendo acceso a las páginas de información seguirán activas.
        </small>
      </td>
      <td>
        <%= form_for([:admin, @active]) do |f| %>
          <div class="checkbox">
            <label>
              <%= f.check_box :value %> Activo
            </label>
          </div>
        <% end %>
      </td>
    </tr>
    <tr>
      <td colspan="3"><center>Precios</center></td>
    </tr>
    <!--<tr>
      <td>
        Precio de <b>1.0</b> Bitcoin<br/>
        <small class="text-muted">
          Si tiene activado la <b>actualización automatica</b>,
          el precio que modifique aquí estará cambiando y sujeto al mercado.
          Desactive la act. auto. si desea fijar un precio específico.
        </small>
      </td>
      <td>
        <%= form_for([:admin, @price]) do |f| %>
          <%= f.text_field :value, placeholder: 'e.g. 25000', class: 'form-control' %>
        <% end %>
      </td>
    </tr>-->

    <!-- price ranges -->
    <tr>
      <td>
        Rango de precio <b>1</b><br/>
        <small class="text-muted">
          Aqui va el mínimo de compra y a el precio guardado. Este primer rango debe ser 0 y debe llevar el precio más alto. En el siguiente rango se debe poner la cantidad minima al siguiente precio, por ejemplo 500 pesos. Esto indica que el primer precio (el más alto) aplica para los pedidos entre 0-500 pesos, despues de 500 pesos aplica el segundo precio, y así sucesivamente. <br/>
          <br/>
          Si se activa la actualización automática, en lugar de poner un precio fijo, de por ejemplo 100,000 pesos, se debe poner un porcentaje escrito en forma decimal, por ejemplo <b>0.10</b> para indicar una prima de 10% al precio del mercado.
        </small>
      </td>
      <td>
        <%= form_for([:admin, @price_range_1]) do |f| %>
          <label>Rango</label>
          <%= f.text_field :value, placeholder: 'e.g. 500', class: 'form-control' %>
        <% end %>
        <br/>
        <%= form_for([:admin, @price_range_1_value]) do |f| %>
          <label>Precio</label>
          <%= f.text_field :value, placeholder: 'e.g. 100000', class: 'form-control' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        Rango de precio <b>2</b><br/>
        <small class="text-muted">
          Las instrucciones son iguales, solo que este es el rango del precio que sigue directamente de la rango 1.
        </small>
      </td>
      <td>
        <%= form_for([:admin, @price_range_2]) do |f| %>
          <label>Rango</label>
          <%= f.text_field :value, placeholder: 'e.g. 1000', class: 'form-control' %>
        <% end %>
        <br/>
        <%= form_for([:admin, @price_range_2_value]) do |f| %>
          <label>Precio</label>
          <%= f.text_field :value, placeholder: 'e.g. 100000', class: 'form-control' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        Rango de precio <b>3</b><br/>
        <small class="text-muted">
          Las instrucciones son iguales, solo que este es el rango del precio que sigue directamente de la rango 2.
        </small>
      </td>
      <td>
        <%= form_for([:admin, @price_range_3]) do |f| %>
          <label>Rango</label>
          <%= f.text_field :value, placeholder: 'e.g. 5000', class: 'form-control' %>
        <% end %>
        <br/>
        <%= form_for([:admin, @price_range_3_value]) do |f| %>
          <label>Precio</label>
          <%= f.text_field :value, placeholder: 'e.g. 100000', class: 'form-control' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        Rango de precio <b>4</b><br/>
        <small class="text-muted">
          Este es el último rango lo cual implica que es el valor al que se vende la moneda mayor a cierta cantidad. Solo pon el valor máximo.
        </small>
      </td>
      <td>
        <%= form_for([:admin, @price_range_4]) do |f| %>
          <label>Rango</label>
          <%= f.text_field :value, placeholder: 'e.g. 10000', class: 'form-control' %>
        <% end %>
        <br/>
        <%= form_for([:admin, @price_range_4_value]) do |f| %>
          <label>Precio</label>
          <%= f.text_field :value, placeholder: 'e.g. 100000', class: 'form-control' %>
        <% end %>
      </td>
    </tr>
    <!-- end price ranges -->

    <tr>
      <td colspan="3"><center>Configuración de compra</center></td>
    </tr>
    <tr>
      <td>
        Paquetes de compra<br/>
        <small class="text-muted">
          Especifique la cantidad de paquetes y sus valor en bitcoin para que aparezcan
          a la hora de comprar para que el usuario identifique una compra de forma más
          intuitiva. Debe ser una lista seperada por comas (hay un limite de 5 paquetes).
        </small>
      </td>
      <td>
        <%= form_for([:admin, @packs]) do |f| %>
          <%= f.text_field :value, placeholder: 'e.g. 0.01, 0.02', class: 'form-control' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        Tamaño máximo del pedido<br/>
        <small class="text-muted">
          El usuario no podrá realizar pedidos mayores a la cantidad especificada.
          (Si no quiere tener un limite máximo, solo ponga un valor muy alto)
        </small>
      </td>
      <td>
        <%= form_for([:admin, @max]) do |f| %>
          <%= f.text_field :value, placeholder: 'e.g. 50000', class: 'form-control' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        Tamaño mínimo del pedido<br/>
        <small class="text-muted">
          El usuario no podrá realizar pedidos menores a la cantidad especificada.
          (Si no quiere un limit inferior, ponga 0).
        </small>
      </td>
      <td>
        <%= form_for([:admin, @min]) do |f| %>
          <%= f.text_field :value, placeholder: 'e.g. 1000', class: 'form-control' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        Tamaño máximo del pedido para <em>usuario nuevo</em><br/>
        <small class="text-muted">
          Funciona igual que el máximo anterior, solo que este se aplica para los usuarios nuevos.
        </small>
      </td>
      <td>
        <%= form_for([:admin, @first_max]) do |f| %>
          <%= f.text_field :value, placeholder: 'e.g. 50000', class: 'form-control' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        Tamaño mínimo del pedido para <em>usuario nuevo</em><br/>
        <small class="text-muted">
          Funciona igual que el mínimo anterior, solo que este se aplica para los usuarios nuevos.
        </small>
      </td>
      <td>
        <%= form_for([:admin, @first_min]) do |f| %>
          <%= f.text_field :value, placeholder: 'e.g. 1000', class: 'form-control' %>
        <% end %>
      </td>
    </tr>
    
    <tr>
      <td colspan="3"><center>Actualización automatica</center></td>
    </tr>
    <tr>
      <td>
        Actualización del precio automático?<br/>
        <small class="text-muted">Se actualiza el precio segun el <a href="https://www.coindesk.com/api/">Price Index de CoinDesk</a>, cada 10 minutos.</small>
      </td>
      <td>
        <%= form_for([:admin, @auto]) do |f| %>
          <div class="checkbox">
            <label>
              <%= f.check_box :value %> Activo
            </label>
          </div>
        <% end %>
      </td>
    </tr>
    <!--<tr>
      <td>
        Prima del precio del mercado (0.05 es 5%)<br/>
        <small class="text-muted">
          Dado el precio actual en mercado, se le suma una prima.
          Por ejemplo si el precio es de $100 dólares, y la prima es de 10%,
          el precio al que se vende en el sitio es de $110.
        </small>
      </td>
      <td>
        <%= form_for([:admin, @premium]) do |f| %>
          <%= f.text_field :value, placeholder: '0.10', class: 'form-control' %>
        <% end %>
      </td>
    </tr>-->
    <tr>
      <td>
        Intervalo de actualización automatica<br/>
        <small class="text-muted">
          El retraso de la actualización de precios en minutos. Por default está en dos minutos.
        </small> 
      </td>
      <td>
        <%= form_for([:admin, @interval]) do |f| %>
          <%= f.text_field :value, placeholder: '2', class: 'form-control' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td colspan="3"><center>Otro</center></td>
    </tr>
    <tr>
      <td>
        Teléfono de contacto<br/>
        <small class="text-muted">
          Aparece en la página de contacto y en el pie de página.
        </small> 
      </td>
      <td>
        <%= form_for([:admin, @phone]) do |f| %>
          <%= f.text_field :value, placeholder: '', class: 'form-control' %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<p class="float-right">
  <button class="save-all btn btn-success">Guardar todos los cambios</button>
</p>
