<% title 'Configuración' %>

<p>
  <span class="page"><i class="fa fa-gears"></i> Configuración</span>
</p>

<div class="alert alert-secondary">
  <p>Todos los campos siguientes deben estar llenados, son fundamental para el funcionamiento correcto del sitio.</p>
</div>

<table class="table settings">
  <tbody>
    <%= render 'admin/settings/general' %>

    <%= render 'admin/settings/autoupdate' %>

    <%= render 'admin/settings/prices' %>

    <%= render 'admin/settings/options' %>
    
    <%= render 'admin/settings/other' %>
  </tbody>
</table>

<p class="float-right">
  <button class="save-all btn btn-success">Guardar todos los cambios</button>
</p>
