<% title 'Configuración' %>

<p>
  <span class="page"><i class="fa fa-gears"></i> Configuración</span>
  <a href="<%= new_admin_setting_path %>" class="nav-link float-right no-mg">
    <i class="fa fa-plus"></i> Configuración nueva
  </a>
</p>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Clave</th>
      <th>Valor</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @settings.each do |setting| %>
      <tr>
        <%= simple_form_for([:admin, setting], html: { class: 'form-inline' }) do |f| %>
          <td><%= f.text_field :key, class: 'form-control' %></td>
          <td><%= f.text_field :value, class: 'form-control' %></td>
          <td>
            <center style='position: relative; top: 6px;'>
              <button style="display: none;"></button>
              <%= link_to 'Borrar', 
                admin_setting_path(setting), 
                method: :delete,
                class: 'btn btn-sm btn-danger',
                data: { confirm: '¿Estás seguro?' } %>
            </center>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>  
