<p>
  <i class="fa fa-users"></i> Usuarios
</p>

<nav class="breadcrumb">
  <a href="<%= admin_users_path %>" class="breadcrumb-item">
    <i class="fa fa-angle-left"></i> lista
  </a>
  <span class="breadcrumb-item active">historial</span>
  <span class="breadcrumb-item active"><%= @user.email %></span>

  <span class="breadcrumb-item active">
    Pedidos: <b><%= @user.orders.count %></b>
  </span>
  <span class="breadcrumb-item active">
    Transacciones: <b><%= @user.orders.where(completed: true).count %></b>
  </span>
  <% if @user.admin? %>
    <span class="text-success breadcrumb-item active">Admin</span>
  <% end %>
</nav>

<table class="table table-bordered table-sm">
  <thead>
    <tr>
      <th>ID</th>
      <th>Fecha</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Domicilio del wallet</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    <% @user.orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= link_to order.created_at_formatted, admin_order_path(order) %></td>
        <td><%= order.amount %></td>
        <td><%= number_to_currency order.price, precision: 0 %></td>
        <td><%= order.address %></td>
        <td><%= order.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
