<div class="ui fixed menu">
  <div class="ui container">
    <%= link_to 'BitAztec [admin]', root_path, class: 'header item' %>
    <%= link_to 'Dashboard', admin_path, class: 'item' %>
    <%= link_to 'Pedidos', admin_orders_path, class: 'item' %>
    <%= link_to 'Configuración', admin_settings_path, class: 'item' %>
    <%= link_to 'Usuarios', admin_users_path, class: 'item' %>
    <%= link_to 'Métodos de pagos', admin_payment_methods_path, class: 'item' %>
    <%= link_to 'Bancos', admin_banks_path, class: 'item' %>
  
    <div class="right menu">
      <% if user_signed_in? %>
        <%= link_to 'Salir', destroy_user_session_path, method: :delete, class: 'item' %>
      <% else %>
        <%= link_to 'Entrar', new_user_session_path, class: 'item' %>
      <% end %>
    </div>
  </div>
</div>

<div class="spacer" style="width: 100%; height: 60px;"></div>
