<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'BitAztec', root_path, class: 'navbar-brand' %>
  <button
     class="navbar-toggler"
     type="button"
     data-toggle="collapse"
     data-target="#main-menu"
     aria-controls="main-menu"
     aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>
    
  <div class="navbar-collapse collapse" id="main-menu">
    
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to 'Mi cuenta', orders_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Comprar', new_order_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Como funciona', howto_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'FAQ', faq_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Acuerdo Legal', legal_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Contacto', contact_path, class: 'nav-link' %>    
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <% if user_signed_in? and current_user.admin? %>
          <li class="nav-item">
            <%= link_to 'Admin', admin_path, class: 'nav-link' %>
          </li>
        <% end %>
        <li clas="nav-item">
          <%= link_to 'Salir', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% else %>
        <li clas="nav-item">
          <%= link_to 'Entrar', new_user_session_path, class: 'nav-link' %>
        </li>
        <li clas="nav-item">
          <%= link_to 'Registrar', new_user_registration_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>

  </div>
</nav>
