<!DOCTYPE html>
<html>
  <head>
    <title>Bitaztecv1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>

  <body>
    
    <%= render 'admin/shared/nav' %>
    
    <div class="container-fluid">
      <div class="row admin no-gutters">
        <div class="col-sm-3">
          <%= render 'admin/shared/sidebar' %>
        </div>
        <div class="col-sm-9 col-sm-offset-3 main">
          <%= render 'shared/flash' %>
          <%= yield %>
        </div>
    </div>
  
    <%= render 'admin/shared/footer' %>
  
  </body>
</html>
