<div class="evidence">
<h5 class="step">2.</h5>

<h2>Comprobante de pago</h2>
<p class="description">Sube tu recibo para comprobar el pago. <em>(pdf, jpg, png)</em></p>

<%= simple_form_for(@order, html: { multipart: true }) do |f| %>
  <% if @order.attachments.count != 0 %>
    <div class="current-evidence-wrap">
      <p>Comprobante(s) de pago presentado:</p>
      <div class="current-evidence">
        <% @order.attachments.each do |attachment| %>
          <div class="<%= 'pdf-file' if attachment.file.extension == 'pdf' %>">
            <% if attachment.file.extension != 'pdf' %>
              <%= image_tag attachment, class: 'img-thumbnail' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  
  <div class="file-upload <%= 'hidden' if @order.attachments.count != 0 %>">
    <input type="hidden" name="step" value="image" />
    <%= f.file_field :attachments, multiple: true %>
    <div class="evidence-preview hidden">
      <div class="images">
      </div>
      <button type="submit">Subir &#128190;</button>
      <div class="loader">Loading...</div>
    </div>
  </div>

  <% if @order.attachments.count != 0 %>
    <a href="#" text="Cancelar" class="re-upload">Cambiar evidencia.</a>
  <% end %>

  <div class="no-file-api">
    <p>Lo sentimos, pero debes usar un navegador más moderno para poder subir tu evidencia. Te recomendamos usar <a href="https://www.google.com/chrome/browser/desktop/index.html">Google Chrome</a></p>
  </div>
<% end %>  
</div>
